.main{
    margin: 30px;
  width: 400px;
  text-align: center;
  border: 10px double rgb(165, 174, 36);
  padding-top: 4px;
  background-image:url(../Demo/Images/line\ falling.gif);

}
.main img{
    width:200px;
    height: 200px;
    border-top: 5px solid red;
    border-bottom: 5px solid rgb(242, 255, 0);
    border-radius: 50%;
    padding: 2px;
}
.name{
font-weight: 100px;
text-align: center;
color: transparent;
background-image:url(../Demo/Images/fire.gif);
-webkit-text-fill-color: none;
-webkit-background-clip: text;
}
.details{
    padding: 5px;
    color: rgb(255, 255, 255);
}
.button{
    font-size: 150%;
    padding: 12px;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 5px;
    border-color: 4px solid white;
    border: 2px solid white;
}
.button:hover{
    background-image:url(../Demo/Images/neon.gif);
    color:rgb(255, 255, 0);

}